[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/youcompleteme"]
	path = bundle/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-bundler"]
	path = bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/vim-ctrlspace"]
	path = bundle/vim-ctrlspace
	url = https://github.com/szw/vim-ctrlspace.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-colors-pencil"]
	path = bundle/vim-colors-pencil
	url = https://github.com/reedes/vim-colors-pencil.git
[submodule "bundle/vim-instant-markdown"]
	path = bundle/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-soy"]
	path = bundle/vim-soy
	url = https://github.com/duganchen/vim-soy.git
[submodule "bundle/vim-closure"]
	path = bundle/vim-closure
	url = https://github.com/stonekyx/vim-closure
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/ycm-generator"]
	path = bundle/ycm-generator
	url = https://github.com/rdnetto/YCM-Generator
  branch = develop
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json
[submodule "bundle/vim-abolish"]
	path = bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "bundle/vim-salve"]
	path = bundle/vim-salve
	url = https://github.com/tpope/vim-salve
[submodule "bundle/fugitive-gitlab"]
	path = bundle/fugitive-gitlab
	url = https://github.com/shumphrey/fugitive-gitlab.vim
[submodule "bundle/fzf"]
	path = bundle/fzf
	url = https://github.com/junegunn/fzf.vim
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/vim-codefmt"]
	path = bundle/vim-codefmt
	url = https://github.com/google/vim-codefmt
[submodule "bundle/vim-maktaba"]
	path = bundle/vim-maktaba
	url = https://github.com/google/vim-maktaba
[submodule "bundle/vim-glaive"]
	path = bundle/vim-glaive
	url = https://github.com/google/vim-glaive
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
